.header {
  position: static;
  width: 100%;
  background: black;
  color: #fff;
  margin: 0px;
  padding: 0px;
  height: 30px;
  animation-name: textcolor;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom: 5px;
}

h3 {
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes textcolor {
  0% {
    color: #fff;
  }
  50% {
    color: #4285f4;
  }
  100 {
    color: #fff;
  }
}

.header img {
  height: 100%;
  width: auto;
  float: right;
}

.header h1 {
  display: inline;
  margin: 0px;
}

body, html{
  margin:0px;
  height: 100%;
  //background: url("../images/bg.jpg");
}

#menu {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  width: 100%;
  background: black;
  color: white;
  background: black;
}

#menu li {
  font-size: 20pt;
  text-align: center;
  display: inline-block;
  color: #ffffff;
  width: 20%;
  background: #111111;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  text-decorations: none;
}

#menu li:hover {
  background: #444444;
}

.content {
  background: #ffffff;
  height: 100%;
}

.bg {
  background: url("../images/bg.jpg");
  height: 20%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.over {
  font-size: 18pt;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 6px;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15pt;
}

#imp {
  width: 100%;
  background-color: blue;
}

#imp img {
  display: inline;
}

#imp p {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20;
  display: inline;
}

#copyright {
  position: fixed;
  bottom: 8px;
  right: 16px;
  font-size: 8px;
  cursor: default;
}

#ab {
  background-color: #ffffff;
  width: 40%;
  border-radius: 25px;
}

#jh {
  background-color: white;
  border: cyan 2px solid;
  border-radius: 25px;
  border-collapse: collapse;
  width: 40%;
  float: right;
}

#jh th, td {
  border: 1px solid black;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

#jh th {
  font-size: 20px;
}

#jh td {
  font-size: 15pt;
}

#about {
  background-color: white;
  width: 100%;
  height: 100%
}

#sral {
  background-color: cyan;
  width: 100%;
  height: 100%;
}
